<h1>Cuestio</h1>

<%= link_to 'Test your knowledge', '/quizzes' %>
<%= link_to 'Import a quiz', '' %>

<h2>What is Cuestio</h2>
<p>Cuestio is a learning tool.</p>
<p>The best way to reinforce your knowledge of a certain topic is by testing yourself in that topic. Quizzes are one efficient way to test your knowledge.</p>

<p>With Cuestio you can write your quizzes in markdown text and then import them to make them interactive.</p>

<p>Cuestio allows you to write a Quiz using a simple Markdown text.</p>

<h2>How does it works</h2>

<ul>
  <li>Write a Markdown quiz document.</li>
  <li>Import it into Cuestio</li>
  <li>Test your knowledge.</li>
  <li>Share it with the learners comunity.</li>
</ul>

<div id="root"></div>
