<h2>What is Cuestio</h2>
<p>Cuestio is a learning tool that allow you to create interactive quizzes from simple markdown files.</p>

<h3>Why you should using Cuestio</h3>
<p>The best way to reinforce your knowledge on a certain topic is by testing yourself in that topic. Quizzes are a very efficient way to test your knowledge and prevent forgetting.</p>

<p>Cuestio allows you to write a Quiz using a simple Markdown text.</p>

<h3>Do you want to test your knowledge</h3>
<p>Test your knowledge with one existing quizzes.<p>

<h3>Do you want to create a quiz?</h3>
<ul>
  <li><%= link_to('Write a Markdown quiz document.', '/create') %></li>
  <li><%= link_to('Publish it on the web', '/publish') %></li>
  <li><%= link_to('Let Cuestio know where did you publish it') %></li>
  <li><%= link_to('Share it!', '/share') %></li>
</ul>
